/* HTML Basis neu stylen */
body {
  margin: 10px auto 0px auto;
  padding: 0 10px;
  font-family: Sans-serif;
}

header {
  height: auto;
}

h1,
h2,
h3 {
  display: block;
  margin: 10px auto 15px auto;
  text-align: center;
}

p {
  margin-left: 0px;
}

/* Vor allem für den Abstand bei Email etc zu den Icons */
.marginLeft {
  margin-left: 3px;
}

/* Überschriften der einzelnen Datensätze */
.listItem h4 {
  line-height: 1.2;
  margin-left: 0px;
}

/* Textformatierung */
.center {
  text-align: center;
}

.left {
  text-align: left;
}

.strong {
  font-weight: bold;
}

/* Farben */
a:link {
  color: darkblue;
  text-decoration: none;
}

a:visited {
  color: darkcyan;
}

.activeMenuItem {
  background: darkgrey !important;
  color: black !important;
  border-radius: 5px !important;
}

.important {
  color: red !important;
}

/* Grid */
.listItem {
  page-break-inside: avoid;
  width: 95%;
  height: 95%;
}

.itemContainer {
  width: 100%;
  display: inline-grid;
  overflow: hidden;
}

/* Für den Filter */
.filter {
  display: none;
}

.show {
  display: block;
}

/* Das betrifft die Druckversion und damit auch das PDF */
@media print {
  .screenOnly {
    display: none;
  }

  .listItem {
    display: block;
  }

  .itemContainer {
    grid-template-columns: 50% 50%;
  }
}

/* Das hier ist nötig damit die Spalten responsive bleiben */
@media (min-width: 1080px) {
  .itemContainer {
    grid-template-columns: 25% 25% 25% 25%;
  }
}

@media (max-width: 1080px) {
  .itemContainer {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 760px) {
  .itemContainer {
    grid-template-columns: 100%;
  }
}
