body {
  margin: 10px auto 0px auto;
  padding: 0 10px;
  font-family: Sans-serif;
}

header {
  height: auto;
}

h1,
h2 {
  line-height: 1.2;
  margin-left: 0px;
}

.center {
  text-align: center;
}

h3 {
  line-height: 1;
  margin: 0px;
}

a:link {
  color: darkblue;
  text-decoration: none;
}

a:visited {
  color: darkcyan;
}

.important {
  color: red !important;
}

.listItem {
  page-break-inside: avoid;
  display: none;
  width: 95%;
  height: 95%;
}

p {
  margin-left: 0px;
}

#listContainer {
  width: 100%;
  display: inline-grid;
  overflow: hidden;
}

.btn.active {
  background-color: #666;
  color: white;
}

.show {
  display: block;
}

@media print {
  .screenOnly {
    display: none;
  }
}

@media (min-width: 1080px) {
  #listContainer {
    grid-template-columns: 25% 25% 25% 25%;
  }
}

@media (max-width: 1080px) {
  #listContainer {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 760px) {
  #listContainer {
    grid-template-columns: 100%;
  }
}
