/* HTML Basis neu stylen */
body {
  margin: 10px auto 0px auto;
  padding: 0 10px;
  font-family: Sans-serif;
}

header {
  height: auto;
}

h1,
h2,
h3 {
  display: block;
  margin: 10px auto 15px auto;
  text-align: center;
}

p {
  margin: 5px 0 10px 0;
}

/* Vor allem für den Abstand bei Email etc zu den Icons */
.marginLeft {
  margin-left: 5px;
}

/* Überschriften der einzelnen Datensätze */
.listItem h4 {
  line-height: 1.2;
  margin-left: 0px;
}

/* Textformatierung */
.center {
  text-align: center;
}

.left {
  text-align: left;
}

.strong {
  font-weight: bold;
}

/* Farben */
a:link {
  color: darkblue;
  text-decoration: none;
}

a:visited {
  color: darkcyan;
}

.activeMenuItem {
  background: darkgrey !important;
  color: black !important;
  border-radius: 5px !important;
}

.important {
  color: red !important;
}

/* Grid */
.listItem {
  page-break-inside: avoid;
  width: 95%;
  height: 95%;
  padding: 15px;
}

.itemContainer {
  width: 100%;
  display: inline-grid;
  overflow: hidden;
}

/* Für den Filter */
.filter {
  display: none;
}

.show {
  display: block;
}

/* Icons */
.icon-phone {
  content: url(../img/phone.svg);
  height: 15px;
}

.icon-fax {
  content: url(../img/fax.svg);
  height: 15px;
}

.icon-email {
  content: url(../img/email.svg);
  height: 15px;
}

.icon-qrcode {
  content: url(../img/qrcode.svg);
  height: 15px;
  cursor: pointer;
}

/* Das betrifft die Druckversion und damit auch das PDF */
@media print {
  .screenOnly {
    display: none;
  }

  .filter {
    display: block;
  }

  .itemContainer {
    grid-template-columns: 50% 50%;
  }

  .listItem {
    width: 95%;
  }

  .marginLeft {
    margin-left: 0px;
  }
}

/* Das betrifft nur die Bildschirmanzeige */
@media screen {
  .listItem {
    box-shadow: 1px 1px 5px black;
    margin-left: 1px;
  }

  .itemContainer {
    padding-top: 10px;
    border-top: 2px black solid;
  }
}

/* Responsive Sachen */
@media screen and (min-width: 1080px) {
  .itemContainer {
    grid-template-columns: 25% 25% 25% 25%;
  }
}

@media screen and (max-width: 1080px) {
  .itemContainer {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 1024px) {
  .desktopOnly {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  .itemContainer {
    grid-template-columns: 100%;
  }

  .desktopOnly {
    display: none;
  }
}
